@import "tailwindcss";
@source "../../packages/dashboard/src";
@import "@dslinter/dashboard/theme.css";

:root {
  /* Override Tailwind default gray palette with Neutral Gray from Tailwind 3.x (v3-neutral) */
  --tw-color-gray-50: 248 250 252;
  --tw-color-gray-100: 241 245 249;
  --tw-color-gray-200: 226 232 240;
  --tw-color-gray-300: 203 213 225;
  --tw-color-gray-400: 148 163 184;
  --tw-color-gray-500: 100 116 139;
  --tw-color-gray-600: 71 85 105;
  --tw-color-gray-700: 51 65 85;
  --tw-color-gray-800: 30 41 59;
  --tw-color-gray-900: 15 23 42;
  --tw-color-gray-950: 2 6 23;
}

/* Tailwind uses rgb(var(--tw-color-gray-xxx)/<alpha-value>) for default palette colors.
   Let's redefine their css variables via base selectors as well, for better support. */
:root {
  --tw-gray-50: rgb(var(--tw-color-gray-50));
  --tw-gray-100: rgb(var(--tw-color-gray-100));
  --tw-gray-200: rgb(var(--tw-color-gray-200));
  --tw-gray-300: rgb(var(--tw-color-gray-300));
  --tw-gray-400: rgb(var(--tw-color-gray-400));
  --tw-gray-500: rgb(var(--tw-color-gray-500));
  --tw-gray-600: rgb(var(--tw-color-gray-600));
  --tw-gray-700: rgb(var(--tw-color-gray-700));
  --tw-gray-800: rgb(var(--tw-color-gray-800));
  --tw-gray-900: rgb(var(--tw-color-gray-900));
  --tw-gray-950: rgb(var(--tw-color-gray-950));
}
